<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin_index_style.css">

</head>

<%- include('_layouts/admin_header'); -%>
    <h2 class="titleProduct"> New Product </h2>
    <button class="add-product"><a href="/admin/products/">Back</a></button>
    <br><br>
    <form method="post" action="/admin/products/add-product" name='AddProductForm'>
        <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Title" name='title'>
            </div>
            <div class="form-group col-md-6">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="Price" name='price'>
            </div>
        </div>


        <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <label for="desc">Description</label>
                <textarea name="desc" rows="4" class="form-control"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="category">Category</label>
                <select id="category" class="form-control" name='category'>
                    <option selected>Choose...</option>
                    <% categories.forEach(function (category) { %>
                        <option value="<%=category.category_id%>">
                            <%=category.category_name%>
                        </option>
                        <% }) %>
                </select>
            </div>
        </div>

        <div class="form-row col-md-12">
            <div class="form-group col-md-6">
                <label for="image">Image Thumbnail</label>
                <input type="file" class="form-control-file" id="image" name='image' onchange="fn(event)">
                <img src="/images/smoothie.png" class='img-thumbnail'
                    style="height: 200px; width: 200px; object-fit: contain;" alt="preview" id="prvw">
                    <script>
                        var fn = function(event) {
                          var output = document.getElementById('prvw');
                          output.src = URL.createObjectURL(event.target.files[0]);
                          output.onload = function() {
                            URL.revokeObjectURL(output.src) // free memory
                          }
                        };
                      </script>
            </div>
            <div class="form-group col-md-6">
                <label for="available">Availablity</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="available" id="yes" value="1" checked> AVAILABLE
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="available" id="no" value="0"> NOT AVAILABLE
                    </label>
                </div>
            </div>
        </div>
        <button class="submit-product">Add Product</button>
    </form>


    <%- include('_layouts/footer'); -%>