<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/css/aboutUs.css">
    <link rel="stylesheet" href="/css/admin_index_style.css">
   
</head>

<%- include('_layouts/admin_header'); -%>

<section id="hero">
    <div class="smoothie">
        <img src="/images/pizza.png" alt="">
    </div>
    <div class="headings">
        <h2>Dine In With Us</h2>
        <h3>Don't Wait <span> Book Now! </span></h3>
        <a href="/admin/products" class="btn">Edit Menu</a>
        <a href="/admin/reservations" class="btn"> Reservations Tab</a>
    </div>
</section>

<section class="feedbacks">
    <h1 class="section-heading">Feedbacks</h1>
    <div class="slider">
        <button class="slider-btn prev-btn"><img src="/images/pre.svg" alt=""></button>
        <button class="slider-btn next-btn"><img src="/images/next.svg" alt=""></button>
        <div class="feed-slider">
            
            <% feeds.forEach(function (feed) { %>

                <div class="feed-card">
                    <div>
                    <p class="para"><%= feed.feedback %></p>
                    </div>
                    <hr>
                    <div class="timing">
                       <h6><%=feed.date%></h6>
                    </div>
                </div>
            <% }) %>          
        </div>
    </div>
</section>


<%- include('_layouts/footer'); -%>


